<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Majbot</title>
	<script src="./static/js/jquery-v3.2.1.min.js"></script>
        <link href="./static/css/bootstrap.min.css" rel="stylesheet">
        <link href="./static/css/font-awesome.min.css" rel="stylesheet">
        <link href="./static/css/chatpage.css" rel='stylesheet' type='text/css'/>
    </head>
<body>
        <div class="container background-color: rgb(255,0,255);">
            <div class="row">
                <h3 class="text-center"><font color="white"> Bot Under Training </font></h3>
                <div class="col-md-4 col-md-offset-4">
                    <div id="chatPanel" class="panel panel-info">
                        <div class="panel-heading">

							<strong>
                <span><img src="./static/images/majbot.png" style=width:4em;height:4em>
              </span>MajBot</strong>

						</div>
                        <div class="panel-body fixed-panel">
                            <ul class="media-list">
                            </ul>
                        </div>
                        <div class="panel-footer">
                            <form method="post" id="chatbot-form">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Enter Message" name="messageText" id="messageText" autofocus/>
                                    <span class="input-group-btn">
                                        <button class="btn btn-info" type="button" id="chatbot-form-btn">SEND <span class="glyphicon glyphicon-hand-up"></span></button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <script src="./static/js/jquery-1.12.4.min.js"></script>
        <script src="./static/js/bootstrap.min.js"></script>
        <script>
        $(function() {
            $('#chatbot-form-btn').click(function(e) {
                e.preventDefault();
                $('#chatbot-form').submit();
            });

            $('#chatbot-form').submit(function(e) {
                e.preventDefault();

                var message = $('#messageText').val();
                $(".media-list").append('<li class="media"><div class="media-body"><div class="media"><div class="media-body">'+'<img src="./static/images/User.png" style=width:1.5em;> '
                + message+ '</p><hr/></div></div></div></li>');
                $.ajax({
                    type: "POST",
                    url: "/ask",
                    data: $(this).serialize(),
                    success: function(response) {
                        $('#messageText').val('');

                        var answer = response.answer;
                        const chatPanel = document.getElementById("chatPanel");
                        $(".media-list").append('<li class="media"><div class="media-body"><div class="media"><div class="media-body">' +'<img src="./static/images/majbot.png" style=width:2em> ' + answer + '<hr/></div></div></li>');
			$(".fixed-panel").stop().animate({ scrollTop: $(".fixed-panel")[0].scrollHeight}, 1000);

                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
            });
        });
        </script>
    </body>
</html>
